importlib-metadata==4.11.3
imutils==0.5.4
nltk==3.6.6
numpy==1.21.0
opencv-contrib-python==4.5.3.56
opencv-python==4.5.3.56
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqt5-tools==5.15.4.3.2
python-crfsuite==0.9.7
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
scikit-learn==1.0.2
scipy==1.8.0
sklearn-crfsuite==0.3.6
